<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        
        <h1>Radio Ninja Pirata</h1>
        <p><i>The egalitarian Radio that considers whole discographies!</i></p>
        <p>Read in different languages:</p>
        <p>- <a href="/">ENG</a></p>
        <p>- <a href="esp.html">ESP</a></p>
        
      </header>
      <section>

      {{content}}
      
      <hr>
        <a href="radios.html"><img src="assets/radios_button.png" alt="radiobutton" /></a>
      <hr>
        <p>
          <a href="https://twitter.com/RNinjaPirata" target="_blank"><img src="assets/twitter_button.png" alt="twitter" height="50" width="50" /></a>
          <a href="https://open.spotify.com/user/pagbz485dhfowwiza5wc9cwh8?si=XVuH5a3NQ8Ohft-yPC5XBA" target="_blank"><img src="assets/spotify_button.png" alt="spotify" height="50" width="50" /></a>
        </p>
      <hr>
        <p class="sidep"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> and hosted on <a href="https://pages.github.com/">GitHub Pages</a> using <a href="https://github.com/pages-themes/minimal">Minimal</a> theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
